.logosfinais {
    bottom: 155px;
    left: 900px;
    margin-top: -3%;
    margin-left: 20px;
    height:70px;
    padding: 1rem;
    position: relative;
    width: 70px; 
    
      
}



.logofinais__01 {
    bottom: 250px;
    left: 1000px;
    margin-left: 20px;
    height:180px;
    padding: 0;
    position: relative;
    width: 180px;

}
