.titulo {
color: #000000;
font-family: fantasy;
font-size: 48px;
left: 45%;    
position: absolute;
padding: 3rem;
text-align: center;
text-decoration: underline;
}


.titulo__item {
    font-family: fantasy;
    font-size: 1.2rem;
    left: 27%;
    position: absolute;
    top: 18%;
    margin: 0 0 10px 0;
    
}