
.cards__item {
  border:  1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  font-family: fantasy, cursive;
  font-size: 1.32rem; 
}

.card--primario {
    margin-top: 35px;
}


.card--secundario {
    margin-top: 120px;
}


.card--terciario {
    margin-top: 120px;
}