.lista__item {
    color: #000000;
    font-family: fantasy;
    font-size: 30px;
    margin: 15px 0 15px 0;
    padding: 40px;
    
}


.lista__link {
    color: #000000;
    font-family: fantasy;
    font-size: 17px;
    margin: 25px 0 0 0;
    padding: 30px;
    
}



.lista__item--logo {
    width: 65%;
}



.lista__item:hover {
    color: yellow;
    font-size: 45px;
    transition: .10s;
}


.lista__link:hover {
    color: yellow;
    font-size: 25px;
    transition: .10s;
    
}