.formulario__conteudo {
    border: 1px double black;
    border-radius: 20px;
    color: black;
    font-size: 18px;
    font-weight: bold;  
    margin: 15px 15px 15px 15px;
    padding: 5px;
    width: 22%;
}


#nome::placeholder {
   
  color: black;
  text-align: center;
  
}


#email::placeholder {
    color: black;
    text-align: center;
}


#telefone::placeholder {
    color: black;
    text-align: center;
}